@import 'tailwindcss';

@font-face {
    font-family: "Satoshi";
    src: url(../../fonts/Satoshi_Complete/Fonts/Variable/Satoshi-Variable.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Satoshi1";
    src: url(../../fonts/Satoshi_Complete/Fonts/Variable/Satoshi-Variable.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Integral CF';
    src: url('fonts/Integral-CF-Font/Integral-www.Dfonts.org/Webfont/IntegralCF-Bold.woff') format("woff"),
         url('fonts/Integral-CF-Font/Integral-www.Dfonts.org/Webfont/IntegralCF-Bold.woff2') format("woff2");
    font-weight: normal;
}

.titulodetallecarrito{
    font-family: "Satoshi1";
}

.contenedorcarrito{
    font-family: "Satoshi";
}
.preciocarrito{
    font-family: "Satoshi1";
}

.contenedortotalcompra{
    font-family: "Satoshi1";
}