@import "tailwindcss";

@font-face {
    font-family: "Satoshi";
    src: url('../../fonts/Satoshi_Complete/Fonts/Variable/Satoshi-Variable.ttf') format(".ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Satoshi1";
    src: url('../../fonts/Satoshi_Complete/Fonts/Variable/Satoshi-Variable.ttf') format(".ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Integral CF';
    src: url('../../fonts/Integral-CF-Font/Integral-www.Dfonts.org/Webfont/IntegralCF-Bold.woff') format("woff"),
         url('../../fonts/Integral-CF-Font/Integral-www.Dfonts.org/Webfont/IntegralCF-Bold.woff2') format("woff2"),
         url('../../fonts/Integral-CF-Font/Integral-www.Dfonts.org/Webfont/IntegralCF-Regular.woff') format("woff")
         url('../../fonts/Integral-CF-Font/Integral-www.Dfonts.org/Webfont/IntegralCF-Regular.woff2') format("woff2");
    font-weight: normal;
}


.top-bar{
    width: auto;
    background-color: black;
    margin: auto;
    padding: 5px;
    color: white;
    font-family: 'Satoshi';
    display: flex;
    justify-content: center;
    position: relative;
    height: auto;
}
.top-bar a{
    color: white;
    margin-left: 5px;
}

.btncerrar{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    height: auto;
    transform: translateY(-50%);
    padding-right: 10px;
}

.textolinknavbar{
    font-family: "Integral CF";
}