@import "tailwindcss";

@font-face {
    font-family: "Satoshi";
    src: url(../../fonts/Satoshi_Complete/Fonts/Variable/Satoshi-Variable.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Satoshi1";
    src: url(../../fonts/Satoshi_Complete/Fonts/Variable/Satoshi-Variable.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Integral CF';
    src: url('fonts/Integral-CF-Font/Integral-www.Dfonts.org/Webfont/IntegralCF-Bold.woff') format("woff"),
         url('fonts/Integral-CF-Font/Integral-www.Dfonts.org/Webfont/IntegralCF-Bold.woff2') format("woff2");
    font-weight: normal;
}

.titulosection{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 48px;
    font-family: "Integral CF";
}

.main-section{
    width: 80%;
    margin: auto;
    background-color: #F0F0F0;
    border-radius: 20px;
    height: auto;
    
}

#layout{    
    width: 65%;
    height: 400px;
    line-height: auto;
    margin: auto;
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1fr 1fr 3fr;
}

#layout .caja{
    font-size: 20px;
    font-weight: bold;
    height: 20px;
    margin: auto 0;
    padding: 80px;
    color: black;
    border-radius: 10px;
    background: gray;
}

#layout .casual{
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url('../../assets/image 11.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}

#layout .formal{
    grid-column-start: 3;
    grid-column-end: 7;
    background-image: url('../../assets/image 13.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#layout .party{
    grid-column-start: 1;
    grid-column-end: 5;
    background-image: url('../../assets/image 12.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#layout .gym{
    grid-column-start: 5;
    grid-column-end: 7;
    background-image: url('../../assets/image 14.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h4{
font-family: "Satoshi1";
}

