@import "tailwindcss";


@font-face {
    font-family: 'Satoshi';
    src: url('../../fonts/Satoshi_Complete/Fonts/Variable/Satoshi-Variable.ttf') format(".ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'Satoshi1';
    src: url('../../fonts/Satoshi_Complete/Fonts/Variable/Satoshi-Variable.ttf') format(".ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Integral CF';
    src: url('../../fonts/Integral-CF-Font/Integral-www.Dfonts.org/Webfont/IntegralCF-Bold.woff') format("woff"),
         url('../../fonts/Integral-CF-Font/Integral-www.Dfonts.org/Webfont/IntegralCF-Bold.woff2') format("woff2");
    font-weight: normal;
}

.h2titulonew{
    font-family: "Integral CF";
}

.btnnew{
    font-family: "Satoshi";
}

.shopcofooter{
    font-family: "Integral CF";
}

.h5titulofooter{
    font-family: "Satoshi1";
}

.footer{
    font-family: "Satoshi";
}

.subscribebutton{
    font-family: "Satoshi1";
}