@import "tailwindcss";


@font-face {
    font-family: 'Satoshi';
    src: url('../../fonts/Satoshi_Complete/Fonts/Variable/Satoshi-Variable.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Integral CF';
    src: url('fonts/Integral-CF-Font/Integral-www.Dfonts.org/Webfont/IntegralCF-Bold.woff') format("woff"),
         url('fonts/Integral-CF-Font/Integral-www.Dfonts.org/Webfont/IntegralCF-Bold.woff2') format("woff2");
    font-weight: normal;
}

#footer a{
    text-decoration: none;
    color: rgba(0,0,0,0.569);
    transition: all 300ms;
}

#footer h5{
    display: block;
    height: 50px;
    letter-spacing:2px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    line-height: 55px;
    color: black;
    margin-bottom: 15px;
}

#footer ul{
    text-align: left;
    margin: 20px;
    font-size: 15px;
}

#footer ul li{
    list-style: none;
    margin-top: 10px;
    padding: 5px;
}

#footer ul li a{
    display: block;
    height: 40px;
    transition: all 300ms; 
}
.clearfix{
    float: none;
    clear: both;
}

#footer #browsers img{
    width: 20px;
    height: 20px;  
}

.footer_text{
    letter-spacing: 1px;
    color: gray;
}

.h2titulo{
    font-family: "Integral CF";
}

.btnnew{
    font-family: "Satoshi";
    font-weight: 900;
}