@import "tailwindcss";

@font-face {
    font-family: 'Satoshi';
    src: url('../../fonts/Satoshi_Complete/Fonts/Variable/Satoshi-Variable.ttf');
    font-weight: normal;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Satoshi';
}

.top-bar{
    width: auto;
    background-color: black;
    margin: auto;
    padding: 5px;
    color: white;
    text-align: center;
    font-family: 'Satoshi';
}
.top-bar a{
    color: white;
}

.btncerrar{
    cursor: pointer;
    margin-left: 20%;
}